

<h2>Listagem Agregações</h2>
<hr>
  <table class="table table-bordered table-definition mb-5">
    <thead class="table-primary ">
        <tr>
            <th>Product 1</th>
            <th>Product 2</th>
            <th>Optional</th>
            <th>Edit</th>        
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let ag of agregacoes | async ">
            <td>{{ getNome(ag.productId1) }}</td>
            <td>{{ getNome(ag.productId2) }}</td>
            <td>{{ ag.optional }}</td>
            <td><button  (click)="getAgregacaoId(ag.itemId)" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="fa fa-pencil" ></span></button></td>
            <td><button (click)="deleteAgregacao(ag.itemId)" onclick="location.reload()" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="fa fa-trash-o" ></span></button></td>
            
        </tr>
        
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th colspan="4">
                <button onclick="formDisplay(1)" class="btn btn-primary float-right">Inserir Agregacao</button>
                <!-- <button class="btn btn-default">Approve</button>
                <button class="btn btn-default">Approve All</button>-->
            </th>
        </tr>
    </tfoot>
  </table>

  <div id="divForm" action="">
        <div class="col-md-8 order-md-1">
        <h3 class="mb-3">Inserir Agregação</h3>

    <form [formGroup]="regForm">
      <div class="row">
              <div class="col-md-5 mb-3">
                <div class="form-group">
                  <label>Produto 1</label>
                  <input type="text" formControlName="productId1" class="form-control" id="altura" placeholder="" required>
                  <div class="invalid-feedback">
                    Inserir produto válido.
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <label>Produto 2</label>
                  <input type="text" formControlName="productId2" class="form-control" id="largura" placeholder="" required>
                  <div class="invalid-feedback">
                    Inserir produto válido.
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <div class="form-group">
                  <label>Opcional</label>
                  <input type="text" formControlName="optional" class="form-control" id="profundidade" placeholder="" required>
                  <div class="invalid-feedback">
                    Inserir opção válida.
                  </div>
                </div>
              </div>
      </div> 
        <button (click)="addAgregacao()" onclick="formDisplay(3)" type="submit" class="btn btn-primary">Submit</button>
                
    </form>
      {{regForm.value | json}}
    </div>
  </div>
