<h2>Listagem Produtos</h2>
<br>
<table class="table table-bordered table-definition mb-5">
  <thead class="table-warning ">
      <tr>
          <th></th>
          <th>Name</th>
          <th>Registration Date</th>
          <th>E-mail address</th>
          <th>Premium Plan</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>
              <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
              </label>
          </td>
          <td>John Lilki</td>
          <td>September 14, 2013</td>
          <td>jhlilk22@yahoo.com</td>
          <td>No</td>
      </tr>
      <tr>
          <td>
              <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
              </label>
          </td>
          <td>John Lilki</td>
          <td>September 14, 2013</td>
          <td>jhlilk22@yahoo.com</td>
          <td>No</td>
      </tr>
      <tr>
          <td>
              <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
              </label>
          </td>
          <td>John Lilki</td>
          <td>September 14, 2013</td>
          <td>jhlilk22@yahoo.com</td>
          <td>No</td>
      </tr>
  </tbody>
  <tfoot>
      <tr>
          <th></th>
          <th colspan="4">
              <button class="btn btn-primary float-right">Add User</button>
              <button class="btn btn-default">Approve</button>
              <button class="btn btn-default">Approve All</button>
          </th>
      </tr>
  </tfoot>
</table>
